*{
    margin:0;
    box-sizing: border-box;
    font-family: arial;
}
nav{
    height: 60px;
    background:rgb(161, 76, 140) ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.link{
    color:white;
    text-decoration: none;
    transition: transform 0.5s;
}
.link:hover{
    transform: scale(1.3);
}